/* Color Scheme */

:root {
    --head-color: #64B6AC;
    --bg-color: #FFFFFF;
    --link-color: #444444;
}

/* Page Style */

* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
  background-color: #EEE;
}

body {
  max-width: 1980px;
  background-color: #FFF;
}

html, body{
  margin: auto;
  height: 100%;
}

p {
    text-align: justify;
    text-justify: inter-word;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a {
    color: var(--link-color);
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 5px;
    list-style-type: square;
}

li{
  margin: 10px 0;
}

.header {
  background-color: var(--head-color);
  color: var(--bg-color);
  padding: 5px;
}

.menu {
  background-color: var(--head-color);
  color: var(--bg-color);
  padding: 10px;
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 4px;
  cursor: pointer;
  background-color: var(--head-color);
}

.gray-button {background-color: #e7e7e7; color: black;} /* Gray */


/* Content Style */

.about-me{
  margin: 50px; 
  text-align: justify;
  text-justify: inter-word;
  max-width: 890px;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.main-wrapper{
  margin: 10px;
}

.conference{
  margin-right: 20px; 
  text-align: justify;
  text-justify: inter-word;
}

.researchtitle {
  text-align: center;
}

.researchsubtitle {
  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.5);
  float: right;
  font-weight: bold;
}


/* Bibliography and Talk style */

.bibentry:nth-child(even) {
  background-color: #dddddd;
}

.bibentry {
  height: 40px;
}

.bibbook {
  text-align: right;
  width: 8%;
  min-width: 100px;
}

.bibtitle {
  width: 92%;
}

.bibbook, .bibtitle {
  border: 1px solid #bbbbbb;
  text-align: left;
  padding: 8px;
  vertical-align: top;
  padding:0 10px;
  font-size:12pt;
}

/* Teaching style */

.teachschool {
  text-align: right;
  width: 10%;
  min-width: 100px;
}

.teachtitle {
  width: 90%;
}

.teachschool, .teachtitle {
  border: 1px solid #bbbbbb;
  text-align: left;
  padding: 8px;
  vertical-align: top;
  padding:0 10px;
  font-size:12pt;
}

/* For desktop: */

.projectwrapper {
  clear: left;
  column-count: 2;
  column-gap: 15px;
}

.project{
  display: inline-block;
  width: auto;
  break-inside: avoid;
  margin: 0 0 15px;

  border-style: solid;
  border-color: white;
}

.col-1 {
    width: 100%;
    justify-content: center; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.res-desc-L {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
  }

.res-desc-R {
    width:72%;
    display: inline-block;
    vertical-align: middle;
  }

.res-desc-B {
  width: auto;
  margin: 15px;
}

.research-image{
    border-style: solid;
    border-color: var(--link-color);
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:85%;
}

.references {
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.profile-image{
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width:140px;
  border-radius: 50%;
}

/*Content article*/

.article{
  width:60%;
}

/* For mobile phones: */

@media only screen and (max-width: 1080px) {
  [class*="projectwrapper"] {
    clear: left;
    column-count: 1;
  }

  [class*="profile-image"] {
    max-width: 0px;
  }

  [class*="res-desc-L"] {
    width: 100%;
    justify-content: center;
    margin:15px;
  }

  [class*="res-desc-R"] {
    width: auto;
    margin:15px;
  }

  [class*="research-image"] {
    border-style: solid;
    border-color: var(--link-color);
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:50%;
    display: table;
    margin-right: auto;
    margin-left: auto;
  }

  [class*="teachschool"] {
    text-align: right;
    width: 20%;
  }

  [class*="teachtitle"] {
    width: 80%;
  }

  [class*="article"] {
    width: 100%;
  }
}
