/* Color Scheme */

:root {
    --head-color: #64B6AC;
    --bg-color: #FFFFFF;
    --link-color: #444444;
}

/* Page Style */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  margin: 0px;
}

p {
    text-align: justify;
    text-justify: inter-word;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a {
    color: var(--link-color);
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ul {
    list-style-type: square;
}

li{
  margin: 10px 0;
}

.header {
  background-color: var(--head-color);
  color: var(--bg-color);
  padding: 5px;
}

.menu {
  background-color: var(--head-color);
  color: var(--bg-color);
  padding: 10px;
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 4px;
  cursor: pointer;
  background-color: var(--head-color);
}

.gray-button {background-color: #e7e7e7; color: black;} /* Gray */

/* For desktop: */
.col-1 {
    width: 100%;
}

.col-05 {width: 50%;
    border-style: solid;
    border-color: white;
    border-width: 8px;
}

.res-desc-L {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
  }

.res-desc-R {
    width:73%;
    display: inline-block;
    vertical-align: middle;
  }

.research-image{
    border-style: solid;
    border-color: var(--link-color);
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:85%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  [class*="res-desc-L"] {
    width: 100%;
    justify-content: center;
  }
  [class*="res-desc-R"] {
    width: 100%;
  }

  [class*="research-image"] {
    border-style: solid;
    border-color: var(--link-color);
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:66%;
    display: table;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Content Style */

.about-me{
    margin: 50px; 
    text-align: justify;
    text-justify: inter-word;
    max-width: 890px;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.conference{
    margin-right: 20px; 
    text-align: justify;
    text-justify: inter-word;
}

.profile-image{
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width:140px;
    border-radius: 50%;
}

.researchtitle {
    text-align: center;
  }

/* BIB STYLE*/

.references {
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.bibentry:nth-child(even) {
  background-color: #dddddd;
}

.bibentry {
  height: 40px;
}

.bibbook, .bibtitle, .bibauthors {
  border: 1px solid #bbbbbb;
  text-align: left;
  padding: 8px;
  vertical-align: middle;
  padding:0 10px;
}

.bibbook {
  text-align: right;
  font-size:12pt;
  width: 7%;
}

.bibtitle {
  width: 70%;
}

.bibauthors {
  width: 23%;
  font-size:12pt;
}
